.print {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.print div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.print div img {
    width: 40px;

}

.print table {
    width: 100%;
    display: table;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.print th {
    font-size: 10px;
    text-align: center;
    background-color: #c4c4c4;
}

.print tr {
    font-size: 6px;
    margin: 2px;
    text-align: center;
    border: 1px solid #000;
}

.print tr:nth-child(even){
    background-color: #f2f2f2;
}