.print-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

.print-card-buttons {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.print-card button {
    width: 48%;
    height: 30px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #337ed4;
    color: #FFF;
}

.print-card-buttons button:first-child {
    background-color: #e78124;
}

@media only screen and (max-width: 768px){
    .print-card {
        width: 100%;
        margin: 80px auto;
    }
    
    .print-card-buttons {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px auto;
    }
    
    .print-card button {
        width: 48%;
        height: 30px;
        font-size: 15px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        background-color: #337ed4;
        color: #FFF;
    }
    
    .print-card-buttons button:first-child {
        background-color: #e78124;
    }
}