.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: auto;
    padding-top: 5px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.container-card input {
    height: 20px;
    background-color: #FFF;
    border: none;
    margin-bottom: 5px;
    border-radius: 4px;
    color: #000;
    padding-left: 2px;
    font-size: 10px;
    width: 76%;
    text-transform: uppercase;
    text-align: center;
}

.container-card label {
    width: 20%;
    font: 400 10px Roboto, sans-serif;
    color: #FFF;
}

.container-card h2 {
    font: 300 12px Roboto, sans-serif;
    line-height: 10px;
    color: #FFF;
}

.container-card span {
    font: 400 10px Roboto, sans-serif;
    line-height: 10px;
    color: #FFF;
}


.content-card {
    width: 325px;
    height: 227px;
    background-color: #1f427c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.container-card .content-card:last-child{
    background: -webkit-linear-gradient(70deg, #1f427c 40%, #fd9745 40%);
    background: -o-linear-gradient(70deg, #1f427c 40%, #fd9745 40%);
    background: -moz-linear-gradient(70deg, #1f427c 40%, #fd9745 40%);
    background: linear-gradient(70deg, #1f427c 40%, #fd9745 40%);
}

.header-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.header-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-card img {
    width: 50px;
    margin-left: 4px;
}

.body-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.body-card div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.body-card div+div+div input {
    width: 65%;
}

.body-card div:last-child {
    display: flex;
    width: 90%;
}

.body-card div:last-child div {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-card div:last-child div:first-child input {
    width: 60%;
}

.body-card div:last-child div:last-child input {
    width: 48%;
}

.body-card div:last-child div:last-child label {
    width: 50%;
}

.body-card-2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.body-card-2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2px;
}

/* .body-card-2 div+div+div div {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.documents-card div {
    width: 48%;
}

.documents-card-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.documents-card-2 div {
    width: 48%;
}

.documents-card-2 div:first-child label {
    width: 40%;
}

.documents-card-2 div:first-child input {
    width: 60%;
}

.documents-card-2 div:last-child input {
    width: 70%;
}

.body-card-2 div:last-child div {
    display: flex;
    flex-direction: column;
}

.footer-card {

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 25px;
}

.footer-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}

.footer-card img {
    width: 25px;
    margin-left: 4px;
}

.footer-card div input {
    width: 90%;
}