.container-churches {
    margin: 10% auto;
    width: 100%;
}



/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(165, 163, 163, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accordion__button {
    background-color: #FFF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: none;
    border-radius: 6px;
    margin: auto;
}

.accordion__button:hover {
    background-color: #1B8D19;
    color: #FFF;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    position: relative;
    padding: 20px;
    animation: fadein 0.35s ease-in;
    background-color: #ddd;
    border-radius: 6px;
    padding-bottom: 7%;
    width: 80%;
    margin: auto;
}

.accordion__panel a {
    position: absolute;
    right: 12px;

}
.accordion__panel img {
    width: 40px;
    border-radius: 50%;
}
.accordion__panel ul li {
    display: flex;
    align-items: center;
}
.accordion__panel ul li a{
    position: inherit;
    margin-right: 15px;
}

.accordion__panel ul li span {
    font: 500 15px Roboto, sans-serif;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px){
    .container-churches {
        margin: 80px auto;
        
    }
    .accordion {
        /* border: 1px solid rgba(0, 0, 0, 0.1); */
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .accordion__panel img {
        width: 30px;
        border-radius: 50%;
    }

    .accordion__panel ul li span {
        font: 400 12px Roboto, sans-serif;
    }

    .accordion__button {
        width: 90%;
    }
    
    .accordion__panel {
        width: 90%;
    }
}